html
  include ./layout/head
  body
  include ./layout/nav
  
  h3 Users
  each user in users
    pre=user

  h3 Groups
  each group in groups
    pre=group

  h3 Links
  each link in links
    pre=link

  h3 Presentation
  each presentation in pres
    pre=presentation

  

 

